#fondo {
    background-color: black;  
    background-image: url(../imagenes/Fondos/Fondo3.jpg); 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.admin-login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.admin-title {
    color: #caca1a;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.forgot-password {
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}

.btn-admin {
    width: 45%;
    margin: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.btn-admin:hover {
    opacity: 0.8;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .admin-login-container {
        padding: 20px;
        margin: 20px;
    }

    .forgot-password {
        font-size: 14px;
    }
}
#fuente {
    color: #ffc400;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}