# Archivos de Python
__pycache__/
*.py[cod]

# Archivos de entorno
*.env

# Archivos de base de datos local
*.sqlite3

# Archivos de migraciones compiladas
*.pyc

# Archivos de logs
*.log

# Archivos del editor
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db